*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;

}

.acc{
    text-decoration: underline;
}

button {
    background-color: skyblue;
    color:  aliceblue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px; 
    cursor: pointer;
    }